[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]] 
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
for _,v in ipairs(SMODS.get_card_areas('playing_cards', 'end_of_round')) do
'''
position = "before"
payload = '''
for k,v in ipairs(SuikaLatro.balls) do
    if v.enhancement == 'm_gold' then
        delay(1)
        G.E_MANAGER:add_event(Event({
            func = function()
                SuikaLatro.f.enhancement_message(v.body:getX(), v.body:getY(), v.enhancement)
            return true
            end
        }))
    end
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
G.STATE = G.STATES.ROUND_EVAL
'''
position = "after"
payload = '''
SuikaLatro.f.disable_suika()
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
SMODS.calculate_context({setting_blind = true, blind = G.GAME.round_resets.blind})
'''
position = "after"
payload = '''
SuikaLatro.f.enable_suika()
SuikaLatro.f.reset_suika()
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''
self.HUD:recalculate()

G.E_MANAGER:add_event(Event({
    trigger = 'immediate',
    func = (function()
        unlock_notify()
        return true
    end)
  }))
'''
position = "after"
payload = '''
SuikaLatro.f.reset_suika()
if G.STATE == G.STATES.SELECTING_HAND then
    SuikaLatro.world_T.y = 2.5
end
if G.GAME.SuikaLatro_balls then
    for k,v in ipairs(G.GAME.SuikaLatro_balls) do
        table.insert(SuikaLatro.balls, Ball(v.x, v.y, v, 0, 0, nil, nil, nil, v.size))
    end
end
for k,v in pairs(G.GAME.hands) do 
    if not string.find(k, 'suika') then
        SMODS.PokerHand:take_ownership(k,
            {
            visible = function(self) return false end
            },
            true
        )
    end
end
'''
match_indent = true